body{
    background-color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100vh;
  
}
.card img{
    width: 150vh;
    opacity: 80%;
    height: 70vh;
    background-color: rgba(0, 0, 0, 0);
}

#header{
    height: auto;
    width: 1000px;
    display: block;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* border: 1px solid black; */
 
}
label{
    color:orange;
}
p{
    color: orange;
}

fieldset{
     border: 1px solid rgb(200, 23, 23);
     padding: 3.4rem; 
     margin: -1.rem;
}
legend{
    margin-top: -3em;
    background-color: beige;
    width: auto;
    padding: 2px 4px;
    color: rgb(203, 203, 227);
    text-shadow: 1px 1px 3px black;

}
.btn{
    color:beige;
}